@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@import "tailwindcss";


@theme{
    --font-game: "Bitcount Grid Double" , "system-ui";
    --font-bitter: "Bitter", "serif";
    --font-raleway: "Raleway", "sans-serif";
    --font-sharetech: "Share Tech", "sans-serif";
}
